#entries {
  border-collapse: separate;
  border-spacing: 0;
  position: relative;
}

#entries thead {
  background-color: var(--bs-body-bg);
  border-bottom: 2px solid currentColor;
  position: sticky;
  top: 0;
}

#entries td {
  border-top: 1px solid transparent;
  white-space: nowrap;
}

#entries .element {
  border: 1px solid transparent;
  display: inline-block;
  padding: 0 0.1em;
}

#entries [data-is-dirty] {
  border: 1px solid var(--bs-success);
  border-radius: 5px;
}

#entries [data-is-dirty].invalid {
  border-color: var(--bs-danger);
}

#entries td.disabled {
  color: var(--bs-secondary);
}

#entries.txt-ids .txt-value {
  display: none;
}

#entries.txt-values .txt-id {
  display: none;
}

#entries span.txt-value {
  display: inline-block;
  font-style: italic;
  max-width: 30em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#entries .element span.txt-value {
  display: inline;
}
